<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Price</ion-label>
      <ion-input formControlName="price" type="number"  required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input formControlName="description" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date Published</ion-label>
      <ion-datetime formControlName="date_published" displayFormat="MM/DD/YYYY" required></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Picure</ion-label>
      <input type="file" (change)="setFile($event)" >
    </ion-item>
    <ion-button type="submit" expand="full">Submit</ion-button>
  </form>
</ion-content>
